<!DOCTYPE html>
<html>
  <head>
    <title>Rodatrial</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
         <% if notice %>
         <div class="alert alert-success"><%= notice %></div>
       <% end %>
       <% if alert %>
         <div class="alert alert-danger"><%= alert %></div>
       <% end %>

<% if rodauth.logged_in? %>
  
  <%= link_to  "Change email", rodauth.change_login_path %>
  <%= link_to  "Change password", rodauth.change_password_path %>
  <%= link_to  "Sign Out", rodauth.logout_path %>
  <% else %>
  <%= link_to  "Sign In", rodauth.login_path %>
    <%= link_to  "Sign Up", rodauth.create_account_path %>


<% end %>

    <%= yield %>
  </body>
</html>
